.gray {
	background-color: #e2e3e5;
	border-radius: 5px;
	padding: 20px;
}

.grid-cell {
	padding: 5px;
	border: 1px solid #eee;
	min-width: 90px;
}

.grid-cell:hover {
	cursor: pointer;
	background: #eee;
}

.red {
	color: red;
}
